<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head>
  <meta charset="UTF-8">
  <title>Online shop</title>
</head>
<body>
<form sec:authorize="hasRole('USER') and !hasRole('ADMIN')" th:action="@{/history}" method="GET">
  <div>
    <button type="submit">Purchase history</button>
    <span th:text="Balance + ': ' + ${balance} + ' &#8381'"></span>
  </div>
</form>
<form sec:authorize="hasRole('ADMIN') and !hasRole('USER')" th:action="@{/users}" method="GET">
  <div>
    <button type="submit">List of users</button>
  </div>
</form>
<form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="POST">
  <div>
    <button type="submit">Log out</button>
  </div>
  <h3>Products</h3>
  <table>
    <thead>
    <tr>
      <th>name</th>
      <th>price</th>
      <th>quantity</th>
      <th>action</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="product : ${products}">
      <td th:text="${product.name}"></td>
      <td th:text="${product.price}"></td>
      <td th:text="${product.quantity}"></td>

      <td>
        <div sec:authorize="hasRole('USER') or hasRole('ADMIN')">
          <a th:href="@{'/product/info/' + ${product.id}}" th:text="Info"></a>
        </div>
        <div sec:authorize="hasRole('USER') and !hasRole('ADMIN')">
          <a th:href="@{'/product/buy/' + ${product.id}}" th:text="Buy"></a>
        </div>
      </td>
    </tr>
    <tr sec:authorize="hasRole('ADMIN')">
      <td>---</td>
      <td>---</td>
      <td>---</td>
      <td>
        <a th:href="@{'/product/add'}" th:text="Add"></a>
      </td>
    </tr>
    </tbody>
  </table>
</form>
</body>
</html>