<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head>
  <meta charset="UTF-8">
  <title>Purchase history</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" th:href="@{'/'}">Online shop</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <!-- Проверяем, авторизован ли пользователь, и отображаем соответствующие кнопки -->
        <li class="nav-item">
          <form class="nav-link" sec:authorize="isAuthenticated()" th:action="@{/logout}"
                method="POST">
            <button type="submit" class="btn btn-link">Log out</button>
          </form>
        </li>
      </ul>
    </div>
  </div>
</nav>
<form>
  <h3>Purchases</h3>
  <table>
    <thead>
    <tr>
      <th>name</th>
      <th>price</th>
      <th>time</th>
      <th>action</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="purchase : ${purchases}">
      <td th:text="${purchase.product.name}"></td>
      <td th:text="${purchase.product.price}"></td>
      <td th:text="${purchase.purchaseTime}"></td>

      <td>
        <!-- ВОЗВРАТ ТОВАРА ДЛЯ ПОЛЬЗОВАТЕЛЯ
        <div sec:authorize="hasRole('USER') and !hasRole('ADMIN')">
          <a th:href="@{'/product/return/' + ${product.id}}" th:text="Return"></a>
        </div>-->
      </td>
    </tr>
    </tbody>
  </table>
</form>
</body>
</html>